<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Funcionários</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cadastro de Funcionários</h1>

    <form method="POST" action="/adicionar_funcionario">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required><br>
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome"><br>
        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" required><br>
        <label for="setor">Setor:</label>
        <input type="text" name="setor" required><br>
        <label for="data_de_admissao">Data de admissão:</label>
        <input type="date" name="data_de_admissao"><br>
        <label for="status_funcionario">Status funcionário:</label>
        <input type="checkbox" name="status_funcionario" value="1"><br>

        <button type="submit">Adicionar Funcionário</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Admissão</th>
            <th>Status Funcionário</th>
            <th>Cargo</th>
            <th>Setor</th>
        </tr>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario[0] }}</td>
            <td>{{ funcionario[1] }}</td>
            <td>{{ funcionario[2] }}</td>
            <td>{{ funcionario[3] }}</td>
            <td>{{ funcionario[4] }}</td>
            <td>{{ funcionario[5] }}</td>
            <td>{{ funcionario[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
